@model List<Beers.web.Models.Beer.BeerViewModel>

<div>
    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th>
                Graduation
            </th>
            <th>
                Type
            </th>
            <th>
                Country
            </th>
            <th>
                City
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name.ToString(), "Edit", new { Id = item.Id })
                </td>
                <td>
                    @Html.Label(item.Graduation.ToString())
                </td>
                <td>
                    @Html.Label(item.BeerTypeDto.Description)
                </td>
                <td>
                    @Html.Label(item.CountryDto.Description)
                </td>
                <td>
                    @Html.Label(item.CityDto.Description)
                </td>
            </tr>
        }
    </table>
</div>


