@model Beers.web.Models.Beer.BeerViewModelDetails

<h2>Details</h2>

@using (Html.BeginForm("Update", "Beer", FormMethod.Post))
{

    @Html.HiddenFor(h => h.Id)
    <p class="form-control">
    @Html.DisplayNameFor(m => m.Name):
    @Html.TextBoxFor(m => m.Name)
    </p>
    <p class="form-control">
        @Html.DisplayNameFor(m => m.Graduation):
        @Html.TextBoxFor(m => m.Graduation)
    </p>
    <p class="form-control">
        @Html.Label("Beer Type:")
        @Html.DropDownListFor(m => m.BeerTypeId, Model.BeerTypeDtoList)
    </p>
    <p class="form-control">
        @Html.Label("Country:")
        @Html.DropDownListFor(m => m.CountryId, Model.CountryDtoList, new { id = "cmbCountry" })
    </p>
    <p class="form-control">
        @Html.Label("City:")
        @Html.DropDownListFor(m => m.CityId, Model.CityDtoList, new { id = "cmbCities" })
    </p>

    <input type="submit"  value="Save" class="btn btn-default"/>
}
@section scripts{
    <script src="~/Scripts/Beer/beer.js"></script>
}