@model Beers.web.Models.Beer.BeerViewModel

<h2>Details</h2>

<p class="form-control">
@Html.DisplayNameFor(m => m.Name):
@Html.DisplayFor(m => m.Name)
</p>
<p class="form-control">
    @Html.DisplayNameFor(m => m.Graduation):
    @Html.TextBoxFor(m => m.Graduation)
</p>
<p class="form-control" readonly="yes">
    @Html.DisplayNameFor(m => m.BeerTypeDto.Description):
    @Html.DisplayFor(m => m.BeerTypeDto.Description)
</p>
<p class="form-control">
    @Html.DisplayNameFor(m => m.CountryDto.Description)
</p>
<p class="form-control">
    @Html.DisplayNameFor(m => m.CityDto.Description)
</p>

