@model List<Beers.web.Models.BeerType.BeerTypeViewModel>

<div>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>

        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.ActionLink(item.Code.ToString(),"Edit", new { ID = item.Code})
                        @*@Html.Label(item.Code.ToString())*@
                    </td>
                    <td>
                        @Html.Label(item.Description)
                    </td>
                    <td>
                        <input type="submit" value="Delete" onclick="onDeleteHandlerClick('@item.Code','beerType');" />
                    </td> 
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { ID = item.Code }) |
                        @Html.ActionLink("Details", "Details", new { ID = item.Code }) |
                        @*@Html.ActionLink("Delete", "Delete", new { ID = item.Code }, new { @id = "DeleteHandler" })*@
                    </td>
                </tr>
            }
    </table>
</div>
